/* .App {
  width: 900px;
  padding-top: 24px;
  margin: 0 auto;
}

.JobCard {
  background-color: #fff;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 24px;
}

.Sort {
  margin-bottom: 24px;
  text-align: right;
}

.Sort__select {
  width: 100px;
  height: 25px;
} */